@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-x-auto {
  overflow-x: auto;
}

/* Hide the scrollbar for WebKit browsers (e.g., Chrome, Safari) */
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

.goldenText {
  background: linear-gradient(180deg, #f0b90b 33.33%, #fbda3c 100%);
}
.card-box-shadow {
  box-shadow: 0px 0px 1px rgba(24, 26, 32, 0.1),
    0px 16px 32px rgba(71, 77, 87, 0.16), 0px 8px 16px rgba(24, 26, 32, 0.16);
}

.about_landing {
  background: url("/Landing.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  /* max-height: 423px; */
}
.landing {
  background: url("/Landing.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* homepage header */
.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .landing {
    background: url("/Landing.png");

    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .mobile_landing {
    background: url("/mobile_landing.png");
    background-size: cover;
    background-repeat: no-repeat;
    /*  background-position: right;  */
    /* max-height: 423px; */
  }
}
@media (max-width: 640px) {
  .mobile_landing {
    background: url("/mobile_landing.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* max-height: 423px; */
  }
}
